<h1 class="title">Login page</h1>

<form [formGroup]="authForm" class="login-form" (ngSubmit)="authorize(authForm)" autocomplete="off">
  <mat-form-field>
    <input
      type="email"
      formControlName="email"
      matInput
      placeholder="email"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      formControlName="password"
      matInput
      placeholder="password"
      required>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="secondary" (click)="register()">Register</button>
  </div>
</form>