<mat-card class="pet-card">
    <mat-card-header>
        <mat-card-title>{{pet.type}} {{ pet.name }}</mat-card-title>
        <mat-card-subtitle>{{ pet.age }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="pet-image" [src]="getPhoto()">
    <mat-card-content>
        <p>{{ pet.gender }}</p>
        <span>{{ pet.description }}</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog()">Edit</button>
        <button mat-raised-button (click)="onRemove()">Remove</button>
    </mat-card-actions>
</mat-card>