<h1 mat-dialog-title>{{title}} {{pet.name}} Info</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width">
        <input matInput placeholder="Name" [(ngModel)]="pet.name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Age" [(ngModel)]="pet.age">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Description" [(ngModel)]="pet.description">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Type" [(ngModel)]="pet.type">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Gender" [(ngModel)]="pet.gender">
    </mat-form-field>
    <div *ngIf="!isCreate">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-stroked-button (click)="fileInput.click()">Upload Photo</button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-raised-button color="primary" (click)="update()" cdkFocusInitial>{{title}}</button>
</div>