<h2 class="title">Register page</h2>

<form [formGroup]="registerForm" class="register-form" (ngSubmit)="register(registerForm)" autocomplete="off">
  <mat-form-field>
    <input type="text" formControlName="firstName" matInput placeholder="First name" required>
  </mat-form-field>

  <mat-form-field>
    <input type="text" formControlName="lastName" matInput placeholder="Last name">
  </mat-form-field>

  <mat-form-field>
    <input type="email" formControlName="email" matInput placeholder="e-mail" required>
  </mat-form-field>

  <mat-form-field>
    <input type="password" formControlName="password" matInput placeholder="password" required>
  </mat-form-field>

  <mat-form-field>
    <input type="password" formControlName="passwordRepeat" matInput placeholder="repeat password" required>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>