<header>
    <mat-toolbar color="primary">
        <h1>
            {{ title }} <i class="material-icons">pets</i>
        </h1>
        <button mat-direction="right" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item *ngIf="!authorizationService.isUserAuthorized" routerLink="/login" routerLinkActive="active">Login</button>
      <button mat-menu-item *ngIf="authorizationService.isUserAuthorized" (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>PetCare. All rights reserved. 2018 </span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">verified_user</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>