<div class="center">
    <img mat-card-image [src]="shelter.photo" class="shelter-full-width">
    <form class="shelter-form">
        <mat-form-field class="shelter-full-width">
            <input matInput placeholder="Organization Name" [value]="shelter.name">
        </mat-form-field>

        <mat-form-field class="shelter-full-width">
            <input type="email" matInput placeholder="Email" [value]="shelter.email">
        </mat-form-field>

        <mat-form-field class="shelter-full-width">
            <input type="email" matInput placeholder="Address" [value]="shelter.address">
        </mat-form-field>

        <mat-form-field class="shelter-full-width">
            <input type="email" matInput placeholder="Description" [value]="shelter.description">
        </mat-form-field>

        <button mat-raised-button color="primary">Update</button>

    </form>
</div>