<div class="center" *ngIf="this.shelter">
    <img mat-card-image src="assets/pets.jpg" class="shelter-full-width">
    <form class="shelter-form" (ngSubmit)="onSubmit()" [formGroup]="shelterForm">
        <mat-form-field class="shelter-full-width">
            <input matInput placeholder="Organization Name" formControlName="title">
        </mat-form-field>

        <mat-form-field class="shelter-full-width">
            <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="shelter-full-width">
            <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Update</button>

    </form>
</div>